WpfApp1/WpfApp1/Connected Services/ServiceReference1/ConfigurationSettingsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation WorkItemTracking ConfigurationSettings web service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03">
      <s:element name="GetWorkitemTrackingVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetWorkitemTrackingVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkitemTrackingVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestHeader" type="tns:RequestHeader" />
      <s:complexType name="RequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseDisambiguatedIdentityString" type="s:boolean" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetMaxAttachmentSize">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxAttachmentSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxAttachmentSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMaxAttachmentSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxSize" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMaxAttachmentSizeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInProcBuildCompletionNotificationAvailability">
        <s:complexType />
      </s:element>
      <s:element name="GetInProcBuildCompletionNotificationAvailabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInProcBuildCompletionNotificationAvailabilityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetInProcBuildCompletionNotificationAvailability">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isEnabled" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetInProcBuildCompletionNotificationAvailabilityResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxBuildListSize">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxBuildListSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxBuildListSizeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMaxBuildListSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxBuildListSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMaxBuildListSizeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetWorkItemQueryTimeout">
        <s:complexType />
      </s:element>
      <s:element name="GetWorkItemQueryTimeoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetWorkItemQueryTimeoutResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetWorkItemQueryTimeout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="workItemQueryTimeout" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetWorkItemQueryTimeoutResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWorkitemTrackingVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkitemTrackingVersion" />
  </wsdl:message>
  <wsdl:message name="GetWorkitemTrackingVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkitemTrackingVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkitemTrackingVersionRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetMaxAttachmentSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxAttachmentSize" />
  </wsdl:message>
  <wsdl:message name="GetMaxAttachmentSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxAttachmentSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxAttachmentSizeRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="SetMaxAttachmentSizeSoapIn">
    <wsdl:part name="parameters" element="tns:SetMaxAttachmentSize" />
  </wsdl:message>
  <wsdl:message name="SetMaxAttachmentSizeSoapOut">
    <wsdl:part name="parameters" element="tns:SetMaxAttachmentSizeResponse" />
  </wsdl:message>
  <wsdl:message name="SetMaxAttachmentSizeRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetInProcBuildCompletionNotificationAvailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:GetInProcBuildCompletionNotificationAvailability" />
  </wsdl:message>
  <wsdl:message name="GetInProcBuildCompletionNotificationAvailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:GetInProcBuildCompletionNotificationAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="GetInProcBuildCompletionNotificationAvailabilityRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="SetInProcBuildCompletionNotificationAvailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:SetInProcBuildCompletionNotificationAvailability" />
  </wsdl:message>
  <wsdl:message name="SetInProcBuildCompletionNotificationAvailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:SetInProcBuildCompletionNotificationAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="SetInProcBuildCompletionNotificationAvailabilityRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetMaxBuildListSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxBuildListSize" />
  </wsdl:message>
  <wsdl:message name="GetMaxBuildListSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxBuildListSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxBuildListSizeRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="SetMaxBuildListSizeSoapIn">
    <wsdl:part name="parameters" element="tns:SetMaxBuildListSize" />
  </wsdl:message>
  <wsdl:message name="SetMaxBuildListSizeSoapOut">
    <wsdl:part name="parameters" element="tns:SetMaxBuildListSizeResponse" />
  </wsdl:message>
  <wsdl:message name="SetMaxBuildListSizeRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemQueryTimeoutSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkItemQueryTimeout" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemQueryTimeoutSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkItemQueryTimeoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemQueryTimeoutRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="SetWorkItemQueryTimeoutSoapIn">
    <wsdl:part name="parameters" element="tns:SetWorkItemQueryTimeout" />
  </wsdl:message>
  <wsdl:message name="SetWorkItemQueryTimeoutSoapOut">
    <wsdl:part name="parameters" element="tns:SetWorkItemQueryTimeoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetWorkItemQueryTimeoutRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:portType name="ConfigurationSettingsServiceSoap">
    <wsdl:operation name="GetWorkitemTrackingVersion">
      <wsdl:input message="tns:GetWorkitemTrackingVersionSoapIn" />
      <wsdl:output message="tns:GetWorkitemTrackingVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxAttachmentSize">
      <wsdl:input message="tns:GetMaxAttachmentSizeSoapIn" />
      <wsdl:output message="tns:GetMaxAttachmentSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMaxAttachmentSize">
      <wsdl:input message="tns:SetMaxAttachmentSizeSoapIn" />
      <wsdl:output message="tns:SetMaxAttachmentSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInProcBuildCompletionNotificationAvailability">
      <wsdl:input message="tns:GetInProcBuildCompletionNotificationAvailabilitySoapIn" />
      <wsdl:output message="tns:GetInProcBuildCompletionNotificationAvailabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetInProcBuildCompletionNotificationAvailability">
      <wsdl:input message="tns:SetInProcBuildCompletionNotificationAvailabilitySoapIn" />
      <wsdl:output message="tns:SetInProcBuildCompletionNotificationAvailabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxBuildListSize">
      <wsdl:input message="tns:GetMaxBuildListSizeSoapIn" />
      <wsdl:output message="tns:GetMaxBuildListSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMaxBuildListSize">
      <wsdl:input message="tns:SetMaxBuildListSizeSoapIn" />
      <wsdl:output message="tns:SetMaxBuildListSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemQueryTimeout">
      <wsdl:input message="tns:GetWorkItemQueryTimeoutSoapIn" />
      <wsdl:output message="tns:GetWorkItemQueryTimeoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetWorkItemQueryTimeout">
      <wsdl:input message="tns:SetWorkItemQueryTimeoutSoapIn" />
      <wsdl:output message="tns:SetWorkItemQueryTimeoutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigurationSettingsServiceSoap" type="tns:ConfigurationSettingsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkitemTrackingVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetWorkitemTrackingVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetWorkitemTrackingVersionRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxAttachmentSize">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetMaxAttachmentSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMaxAttachmentSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaxAttachmentSize">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetMaxAttachmentSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetMaxAttachmentSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInProcBuildCompletionNotificationAvailability">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetInProcBuildCompletionNotificationAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetInProcBuildCompletionNotificationAvailabilityRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInProcBuildCompletionNotificationAvailability">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetInProcBuildCompletionNotificationAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetInProcBuildCompletionNotificationAvailabilityRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBuildListSize">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetMaxBuildListSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMaxBuildListSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaxBuildListSize">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetMaxBuildListSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetMaxBuildListSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemQueryTimeout">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetWorkItemQueryTimeout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetWorkItemQueryTimeoutRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWorkItemQueryTimeout">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetWorkItemQueryTimeout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetWorkItemQueryTimeoutRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigurationSettingsServiceSoap12" type="tns:ConfigurationSettingsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkitemTrackingVersion">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetWorkitemTrackingVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetWorkitemTrackingVersionRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxAttachmentSize">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetMaxAttachmentSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMaxAttachmentSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaxAttachmentSize">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetMaxAttachmentSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetMaxAttachmentSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInProcBuildCompletionNotificationAvailability">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetInProcBuildCompletionNotificationAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetInProcBuildCompletionNotificationAvailabilityRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInProcBuildCompletionNotificationAvailability">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetInProcBuildCompletionNotificationAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetInProcBuildCompletionNotificationAvailabilityRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBuildListSize">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetMaxBuildListSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMaxBuildListSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaxBuildListSize">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetMaxBuildListSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetMaxBuildListSizeRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemQueryTimeout">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/GetWorkItemQueryTimeout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetWorkItemQueryTimeoutRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWorkItemQueryTimeout">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/configurationSettingsService/03/SetWorkItemQueryTimeout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetWorkItemQueryTimeoutRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationSettingsService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation WorkItemTracking ConfigurationSettings web service</wsdl:documentation>
    <wsdl:port name="ConfigurationSettingsServiceSoap" binding="tns:ConfigurationSettingsServiceSoap">
      <soap:address location="https://devtfs.cmit.local/DefaultCollection/WorkItemTracking/v1.0/ConfigurationSettingsService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfigurationSettingsServiceSoap12" binding="tns:ConfigurationSettingsServiceSoap12">
      <soap12:address location="https://devtfs.cmit.local/DefaultCollection/WorkItemTracking/v1.0/ConfigurationSettingsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>